@model Emlak_Ofisi.Models.Tip

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--Filtreleme-->
            <form class="form-horizontal">
                <div class="form-group row" style="padding-top: 20px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Az</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Az(Fiyat)">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Çok</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Çok(Fiyat)">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Şehir</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Şehir">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Semt</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Semt">
                    </div>
                </div>

                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Mahalle</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Mahalle">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Durum</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Durum">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Tip</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Tip">
                    </div>
                </div>


                <div class="form-group" style="padding-top: 10px; padding-bottom:180px;">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-block" style="float: right; width: 60%;">Filtrele<i class="fa fa-search" style="font-size: 14px; padding-top: 6px; padding-left: 8px;"></i></button>
                    </div>
                </div>
            </form>
            <!--Filtreleme-->
        </div>

        <div class="col-md-9">
            <br />

            <br />
            <br />

            <h3>Silmek istediğinizden emin misiniz?</h3>
            <div>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Durum Adı
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Durum.DurumAd)
                    </dd>

                    <dt>
                        Tip Adı
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipAd)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sil" class="btn btn-danger" />
                        @Html.ActionLink("Tip Listesi", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                }
            </div>

        </div>
    </div>
</div>
