@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex mx-auto" }))
{
    
        <input class="form-control me-2" type="search" placeholder="Ev veya Dükkan" name="q" aria-label="Search">

        <button class="btn btn-primary d-flex" type="submit"><i class="fa fa-search" style="font-size: 14px; padding-top: 6px; padding-right: 4px;"></i>Ara</button>
  
}
